<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans		http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context	http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:/spring/spring-config.properties" ignore-unresolvable="true" />
	
<!-- 	<bean id="zookeeper" class="org.apache.zookeeper.ZooKeeper"> -->
<!-- 		<constructor-arg index="0" value="127.0.0.1:2181,127.0.0.1:2182" /> -->
<!-- 		<constructor-arg index="1" value="60000" /> -->
<!-- 		<constructor-arg index="2"> -->
<!-- 			<bean class="com.github.woshikid.utils.EmptyWatcher" /> -->
<!-- 		</constructor-arg> -->
<!-- 	</bean> -->
	
<!-- 	<bean class="com.github.woshikid.mvc.listener.ZooKeeperWatcher"> -->
<!-- 		<constructor-arg index="0" ref="zookeeper" /> -->
<!-- 		<constructor-arg index="1" value="/" /> -->
<!-- 	</bean> -->
	
</beans>