<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans		http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context	http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/aop		http://www.springframework.org/schema/aop/spring-aop.xsd">

	<context:property-placeholder location="classpath:/spring/spring-config.properties" ignore-unresolvable="true" />
	
	<bean id="logInterceptor" class="com.github.woshikid.mvc.interceptor.LogInterceptor" />
	
	<aop:config proxy-target-class="true">
		<aop:pointcut id="logPointcut" expression="execution(* com.github.woshikid.mvc.controller.*.*(..))" />
		<aop:advisor order="1" advice-ref="logInterceptor" pointcut-ref="logPointcut" />
	</aop:config>
	
</beans>