<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans		http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context	http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:/spring/spring-config.properties" ignore-unresolvable="true" />
	
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/login.jsp" />
		<property name="successUrl" value="/user/" />
		<property name="unauthorizedUrl" value="/unauthorized.html" />
		<property name="filters">
			<map>
				<entry key="logout" value-ref="logoutFilter" />
			</map>
		</property>
		<property name="filterChainDefinitions">
			<value>
				/login.jsp=authc
				/logout=logout
				/user/**=user
				/**=anon
			</value>
		</property>
	</bean>
	
	<bean id="logoutFilter" class="org.apache.shiro.web.filter.authc.LogoutFilter">
		<property name="redirectUrl" value="/" />
	</bean>
	
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="cacheManager" ref="shiroCacheManager" />
<!-- 		<property name="realm" ref="jdbcRealm" /> -->
		<property name="realm" ref="autoRealm" />
	</bean>
	
	<bean id="shiroCacheManager" class="com.github.woshikid.mvc.utils.ShiroCacheManager">
		<property name="cacheManager" ref="cacheManager" />
	</bean>
	
	<bean id="jdbcRealm" class="org.apache.shiro.realm.jdbc.JdbcRealm">
		<property name="dataSource" ref="dataSource" />
		<property name="authenticationQuery" value="select password from users where code = ?" />
		<property name="userRolesQuery" value="select name from users where code = ?" />
		<property name="credentialsMatcher" ref="hashedCredentialsMatcher" />
	</bean>
	
	<bean id="autoRealm" class="com.github.woshikid.mvc.utils.AutoLoginRealm">
		<property name="roleNames">
			<set><value>admin</value></set>
		</property>
	</bean>
	
	<bean id="hashedCredentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
		<property name="hashAlgorithmName" value="SHA-256" />
		<property name="hashIterations" value="99" />
	</bean>
	
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
	
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager" />
	</bean>
	
</beans>